<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951339969373-1a1mrpkljpvf5o83m478e8aqutaham72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951339969373-1a1mrpkljpvf5o83m478e8aqutaham72</string>
	<key>API_KEY</key>
	<string>AIzaSyCt478AHLqWlp2Y5xhHg9UCegEE0erD3-o</string>
	<key>GCM_SENDER_ID</key>
	<string>951339969373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppRiverpod</string>
	<key>PROJECT_ID</key>
	<string>messenger-app-c81b1</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-app-c81b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951339969373:ios:3d8cd7d9e25ae84a2ed6b4</string>
</dict>
</plist>